<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OldCPUSimulatorGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <OldCPUSimulatorGUI.Properties.Settings>
            <setting name="RecentFiles0" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles1" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles2" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles3" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles4" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles5" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles6" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles7" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles8" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles9" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetMhzSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TargetMhz" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RefreshHz" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SetProcessPriorityHigh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetSyncedProcessAffinityOne" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncedProcessMainThreadOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshRateFloorFifteen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuickReferenceLinkVisited" serializeAs="String">
                <value>False</value>
            </setting>
        </OldCPUSimulatorGUI.Properties.Settings>
    </userSettings>
</configuration>
