<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OldCPUSimulatorGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <OldCPUSimulatorGUI.Properties.Settings>
            <setting name="oldCPUSimulatorSaveDataRecentFilesListBoxItemString0" serializeAs="String">
                <value/>
            </setting>
            <setting name="oldCPUSimulatorSaveDataRecentFilesListBoxItemString1" serializeAs="String">
                <value/>
            </setting>
            <setting name="oldCPUSimulatorSaveDataRecentFilesListBoxItemString2" serializeAs="String">
                <value/>
            </setting>
            <setting name="oldCPUSimulatorSaveDataRecentFilesListBoxItemString3" serializeAs="String">
                <value/>
            </setting>
            <setting name="oldCPUSimulatorSaveDataRecentFilesListBoxItemString4" serializeAs="String">
                <value/>
            </setting>
            <setting name="oldCPUSimulatorSaveDataRecentFilesListBoxItemString5" serializeAs="String">
                <value/>
            </setting>
            <setting name="oldCPUSimulatorSaveDataRecentFilesListBoxItemString6" serializeAs="String">
                <value/>
            </setting>
            <setting name="oldCPUSimulatorSaveDataRecentFilesListBoxItemString7" serializeAs="String">
                <value/>
            </setting>
            <setting name="oldCPUSimulatorSaveDataRecentFilesListBoxItemString8" serializeAs="String">
                <value/>
            </setting>
            <setting name="oldCPUSimulatorSaveDataRecentFilesListBoxItemString9" serializeAs="String">
                <value/>
            </setting>
        </OldCPUSimulatorGUI.Properties.Settings>
    </userSettings>
</configuration>
