<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OldCPUEmulatorGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OldCPUEmulatorGUI.Properties.Settings>
            <setting name="oldCPUEmulatorSaveDataRecentFilesListBoxItemString0"
                serializeAs="String">
                <value />
            </setting>
            <setting name="oldCPUEmulatorSaveDataRecentFilesListBoxItemString1"
                serializeAs="String">
                <value />
            </setting>
            <setting name="oldCPUEmulatorSaveDataRecentFilesListBoxItemString2"
                serializeAs="String">
                <value />
            </setting>
            <setting name="oldCPUEmulatorSaveDataRecentFilesListBoxItemString3"
                serializeAs="String">
                <value />
            </setting>
            <setting name="oldCPUEmulatorSaveDataRecentFilesListBoxItemString4"
                serializeAs="String">
                <value />
            </setting>
            <setting name="oldCPUEmulatorSaveDataRecentFilesListBoxItemString5"
                serializeAs="String">
                <value />
            </setting>
            <setting name="oldCPUEmulatorSaveDataRecentFilesListBoxItemString6"
                serializeAs="String">
                <value />
            </setting>
            <setting name="oldCPUEmulatorSaveDataRecentFilesListBoxItemString7"
                serializeAs="String">
                <value />
            </setting>
            <setting name="oldCPUEmulatorSaveDataRecentFilesListBoxItemString8"
                serializeAs="String">
                <value />
            </setting>
            <setting name="oldCPUEmulatorSaveDataRecentFilesListBoxItemString9"
                serializeAs="String">
                <value />
            </setting>
        </OldCPUEmulatorGUI.Properties.Settings>
    </userSettings>
</configuration>